.logo-ufolep {
  max-width: 30vw;
  cursor: pointer;
}

.App-header {
  background-color: #e4bd83;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.homepage {
  background-color: #e4bd83;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #70787A;

}

.homepage_header {
  display: flex;
  flex-direction: column;
  align-items: center;

}
 .event {
  background-color: #e4bd83;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #70787A;
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
